/* ./src/index.css */
@tailwind base;
@font-face {
     font-family: Sofiapro;
     src: url(assets/fonts/sofiapro-light.otf) format("opentype") or otf;
}
@font-face {
     font-family: Soligant;
     src: url(assets/fonts/Soligant.ttf) format("truetype") or ttf;
}
/* width */
::-webkit-scrollbar {
     width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px #b4b4b4;
     border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
     background: #b4b4b4;
     border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
     background: #222;
}
@tailwind components;
[dir="rtl"] .dir_rtl {
     transform: rotateY(-180deg);
}
[dir="rtl"] .rtl_text {
     right: 16px;
     left: unset;
}
/* .swiper-button-prev,
.swiper-button-next {
     background: red !important;
}
.swiper-button-prev::before {
     content: "→";
     background: blue;
     color: chartreuse;
     font-size: 24px;
}
.swiper-button-next::before {
     content: "←";
     font-size: 24px;
     background: blue;
     color: chartreuse;
} */
.hoverState {
     @apply border-b-2 border-transparent hover:border-REDD transition-colors;
}
.hoverClass {
     cursor: pointer !important;
}
.onScale {
     transform: scale(0.95);
}
.onScale:hover {
     transform: scale(1);
}
.styleTabs div div {
     border-bottom: none !important;
}
@tailwind utilities;
